// 
// Colors
//////////////////

@main-text: white;
@tile-border: white;
@main-background: black;

// 
// Styles
//////////////////

body {
    color: @main-text;
}

.tiles .tile {
    border-color: @tile-border;
}

.new-session {
    input[type=number].duration {
        background-color: @main-background;
        color: @main-text;
    }
    input[type=number].duration:focus {
        border-color: @main-background;
    }
}